
/*
 General
*/
.admin_page_edit_student #form_edit_student tr,
.admin_page_edit_student #form_edit_student td{
	display: flex; 
	flex: 1;
}

.admin_page_edit_student #form_edit_student td label{
	flex: 1;
}


	
.admin_page_edit_student #form_edit_student td input,
.admin_page_edit_student #form_edit_student td select{
	flex: 3;
}	

.admin_page_edit_student #form_edit_student td textarea{
	min-height: 200px;
	width: 100%; 
	flex: 7;
	
}


@media screen and (max-width: 991px) {


}


@media screen and (max-width: 650px) {


}