
/*
 General
*/

.learndash-wrapper pre{
	
	background: var( --global-palette9); 
}

hr{
	border-color: #dedede !important;
}
.post-entry hr{
	border-top: #DAE0D5 solid 1px;
	
}

.single-content .learndash-wrapper hr{
	margin-top: 10px;
}

.main-navigation .primary-menu-container > ul > li.menu-item > a{
	color: var(--global-palette7) !important; 
	
}


.wp-block-buttons .button-secondary a.wp-block-button__link,
.button-secondary{
	background-color: var( --wp--preset--color--theme-palette-5 ) !important;
	border-radius: 3px;
}

.wp-block-buttons .button-secondary a.wp-block-button__link:hover,
.button-secondary:hover{
	background-color: var( --wp--preset--color--theme-palette-2 ) !important;
	
}

.widget_block .button-secondary a,
.widget_block .button-secondary a:hover{
	color: var( --wp--preset--color--theme-palette-9 ); 
	text-decoration: none;
}

 
/*
 Register - Restrict Content Pro
*/

.wp-site-blocks .rcp_form p label {
	line-height: 1.2em !important;
	color: var( --wp--preset--color--theme-palette-7 ) !important;
	margin: 0 0 10px; 
}

#rcp_profile_editor_form fieldset legend{
	color: var( --wp--preset--color--theme-palette-3 );
	
}

.rcp_form .rcp_user_fieldset label span{
	font-weight: normal;
		
}

.rcp_form hr{
	margin: 30px 0 !important; 	
}

.rcp_form input.rcp-button{
	background-color: var( --global-palette-btn-bg );	
}

.rcp_form input.rcp-button:hover{
	background-color: var( --global-palette-btn-bg-hover );	
	
}

.rcp-table{
	padding: 30px; 
}

.rcp-table div > span{
/* 	display: inline-block; */
	padding: 5px;
	
}

.rcp-table div > span:nth-child(even){
	
	background-color: var( --wp--preset--color--theme-palette-8 );
	
}

.rcp-table div > span:nth-child(odd){
	
	background-color: var( --wp--preset--color--theme-palette-9 );
	
}


.rcp_form .rcp_user_fieldset > p > label > span{
	display: block; 
	font-size: .9em;	
	max-width: 600px;
	color: var( --wp--preset--color--theme-palette-2 );
}

.rcp_form .rcp_user_fieldset > p > input{
	max-width: 600px;	
}

.rcp_form input[type="checkbox"]{
	margin: 2px 8px 0 0 !important;
}


/*

* Course styles

*/

/* Inactive Pages */

span.inactive img{
	opacity: 0.4;
	filter: alpha(opacity=40);
}


/*  Course Overview  */


/* Course Content */

#readonly_assignment{
  background: #F0F3F6;
  border: 1px solid #7d7c81;
  padding: 17px 10px 60px;
  margin: 40px 0 0 0; 
  min-height: 200px;
  border-radius: 3px;
  
}

#readonly_assignment + p{
	z-index: 10; 
	background: #7d7c81;
	color: #fff;
	margin-top: -60px;
	padding: 5px 10px;
	
}

#primary .learndash-wrapper .ld-topic-status .ld-breadcrumbs, 
#primary .learndash-wrapper .ld-lesson-status{
	background-color: var( --wp--preset--color--theme-palette-5 ); 
}

#fresh-start h4 small{
	font-weight: normal;
	font-size: .7em;
}

.learndash-wrapper .verify_delete #verify_delete_input{
	max-width: 200px; 
	margin-bottom: 10px; 
}

.verify_delete input{
	margin-right: 10px;
	
}

.learndash-wrapper .verify_delete input.error{
	border-color: red; 
}


/* 
input.button-secondary{
	background-color: gray;
	
} */


/* Course Sidebar Widget */
.learndash-wrapper .ld-course-navigation .ld-table-list.ld-topic-list .ld-table-list-item .ld-table-list-item-preview.ld-is-current-item {
  background: white;
  margin-left: -8px; 
  padding-left: 14px;
}


/* Student Editor Tweek */

.wp-editor-tools {
	clear: both;
}

.wp-editor-container {
    border: 1px solid #e5e5e5;
}

select, input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
}

.meta-info td{
	background: #f3f3f3;
	color: var( --wp--preset--color--theme-palette-7 );
}

.course input[type="submit"]{
	background: #AC1B5C; 
	color: #ffffff;
	border: none;
    display: inline-block;
    margin-top: 10px;
	padding: 10px 16px;
    transition: background 0.6s ease-out 0s;
	
	
}
.course input[type="submit"]:hover{
	background: #B56A83;
}

.asmt_status_box{
  background: var( --global-palette8);
  padding: 10px 20px;
  margin: 0 0 20px 0;
  border: 1px solid var( --global-palette1);
  border-radius: 3px;
}

.asmt_status_box h4{
	border-bottom: 1px solid var( --global-palette5 );
	padding: 3px 5px;
	margin: 0 -3px 10px;
}

.asmt_status_box h4 em{
	color: var( --global-palette2 );
}


.asmt_detail_status{
	line-height: 1.15;
}

#wp-edit_assignment-wrap{
	margin-bottom: 10px;
	
}

#attachments .ld-table-list-items > p{
	margin: 10px 0;
}

.learndash-wrapper #attachments .ld-item-icon{
	font-size: 1.2em;
}

.learndash-wrapper #attachments .ld-item-icon:hover{
	color: var( --global-palette2 ); 
}


.learndash-wrapper #attachments.ld-table-list .ld-table-list-item-preview{
	padding: 10px 0;	
}

#attachments input[ type="submit" ].delete-attachment,
#attachments input[ type="button" ].reject_attach_delete{
	font-size: 12px;
	border-radius: 16px;
	margin: 0;
	text-transform: lowercase;
	
}

#fresh-start{
	margin: 0 0 10px 0;
}

/*

* Assignment Commenting

*/

.learndash #commentform .form-submit #submit, 
.learndash textarea {
	border-radius: 0px;
}

.learndash .comment-meta a.comment-edit-link{
	display: none;
}


.learndash .commentlist {
	background: var( --global-palette9 ) ;
	padding: 5px 20px 20px;
	margin-top: 20px;
}

.learndash .commentlist .info-right{
	float: right;
	font-size: .8em;
	font-style: italic;
}

.learndash .commentlist .comment-author{
	font-style: italic;
	font-size: .9em;
}

.learndash .commentlist .comment-meta{
	float: none;
}

.learndash .commentlist .comment {
	padding: 10px 20px;
	margin-top: 10px;
}

.learndash .commentlist .comment .reply{
	display: none;
}

.learndash .commentlist .comment.even{
	background: var( --global-palette8 ) ;
}




/*

* Student Management Pages

*/


.nb-table{
	width: 100%;
	border-collapse: collapse;
	border: 1px solid var( --wp--preset--color--theme-palette-9 );
	background: var( --wp--preset--color--theme-palette-9 );
	margin-bottom: 20px;
}

.nb-table th, 
.nb-table td{
	border: 1px solid var( --wp--preset--color--theme-palette-9 );
	padding: 5px 10px; 
}

.nb-table th{
	padding: 10px ;
	background-color: #F1CB60;
}
	
.nb-table th h4{
	color: var( --wp--preset--color--theme-palette-9 );
}

.nb-table.profile-table{
	
}

.nb-table.profile-table td .reason{
	font-size: .8em;
	
}
.nb-table.profile-table td {
	padding: 20px;
	line-height: .8em;
}

.nb-table.profile-table td {
	border-color: var( --wp--preset--color--theme-palette-7 );
}


.nb-table.profile-table td input{
	margin: 20px 0 0;
}

.nb-table.profile-table td input:disabled,
input[type="text"]:read-only{
	background-color: #F5F9EF;
	color: #8F9388;
}

.nb-table{}

.entry-content #message{
	background: #fff none repeat scroll 0 0;
    height: 32px;
    line-height: 1.6em;
    padding: 3px 10px;
    width: 100%;
	box-shadow: 0 1px 3px #999;
	margin-bottom: 20px;	
}

.entry-content #message.updated{
	border-left: #009966 solid 5px;
}






/*

* Registration form

*/

.feedback {
    background: #91c2a8 none repeat scroll 0 0;
    border-radius: 80px;
    box-shadow: -1px 3px 5px #565656;
    height: auto;
    padding: 5px;
    position: absolute;
    right: 40px;
    text-align: center;
    top: -50px;
    width: 140px;
}
#wrapper .feedback p {
    border: 1px solid #e8f2ed;
    border-radius: 75px;
    color: #ffffff;
    font-size: 12px;
	line-height: 1em;
    margin: 0;
    padding: 20px;
}
#wrapper .feedback p a {
    color: #e8f2ed;
}
#wrapper .feedback p a:hover {
    color: #fff;
}

.complete-registration label small,
.complete-registration p small{
	color: #7E7F7C;
	font-weight: normal;
	font-size: .8em;
}

.complete-registration label small{
	display: block;
}


/*

* Webhosting styles

*/

.entry-content .intro{
	color: #666;
    font-family: Georgia,Times,serif;
    font-size: 1.6em;
    line-height: 1.2em;
    margin: 20px 0;
}


.entry-content .sub-intro{
	color: #666;
    font-family: Georgia,Times,serif;
	font-size: 1.2em;
    margin: 20px 0;
}

#domain-check .sld-text, #domain-check .tld-select, #domain-check .check-btn{
	float: left;
	height: 30px;
}

.entry-content #domain-check .sld-text{
	width: 54%;
	margin-right: 1%;
}

.entry-content #domain-check .tld-select{
	width: 24%;
	margin-right: 1%;
	color: #000;
}


.entry-content #domain-check .tld-select option{
	color: #666;
}


.entry-content #domain-check .check-btn{
	width: 20%;
	border: 1px solid #5d8270;
	background: linear-gradient(to bottom, #5d8270 0%, #7da58f 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	color: #ffffff;
    text-shadow: 0 -1px 0 #115290;
	border-radius: 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	
}


.entry-content #domain-check .domain-check{
	color: #333;
	border: 1px solid #333;
	background: #F1F5F3;
	padding: 10px; 
}


.entry-content .big-dn{
	font-size: 1.6em;
}

.entry-content #domain-check .domain-check.domain-yes {
	border-color: #5D8270;
	color: #5D8270;
}

.entry-content #domain-check .domain-check.domain-no{
	border-color: #990000;
	color: #990000;
}

.entry-content #domain-check .domain-check.domain-unknown{

}

.entry-content #domain-check .available-domain{
	display: none;
}

.entry-content .selected-domain{
	border: 1px solid #5D8270;
	background:  #F1F5F3;
	padding: 10px;
}

.entry-content .web_opts{
	display: table;
}

.entry-content .web_opt_start{

	display: table-cell;
	text-align: center;
	color: #fff;
	font-size: .8em;
	font-style: italic; 
	padding: 24px;
	background:  #7da290;
	border: 10px solid #fff;
}


.entry-content .web_opt_start form{
	width: 170px;
	height: 136px;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
}

.entry-content .web_opt_start form input{
	padding: 0;
}

.entry-content .web_opt_start .web_opt_name{
	display: block;
	margin: 10px 0 0 0;
	font-size: 2em;
	font-weight: bold;
	color: #fff;
}
@media screen and (max-width: 991px) {

	.feedback {
		
		position: relative;
		text-align: center;
		width: 140px;
		margin: 0 auto;
		right: 0;
		top: -15px;
	}
	
.post-type-archive-course .main  .rowtight{
	height: 100% !important;
}	
	
.post-type-archive-course .main .course.type-course
{
	float: left;
	margin-bottom: 40px;
}

}


@media screen and (max-width: 650px) {
	.course .post-side-col{
		display: none;
	}
	
	.course-nav ul.course-nav-pag{
		border-bottom: 1px solid #dae0d5;
		float: none; 
		margin: 0 0 10px 0;
		padding: 0 0 10px 0;
	}
	
	.course-nav-title{
		display: block;
	}

}